<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tiger App Regression Test" verbose="1" >
	<listeners>
		<listener class-name="commonLibraries.SchedulerImplementation" />
	</listeners>
	<test thread-count="5" name="Regression TestCases">
	<parameter name="browser" value="chrome" />
		<classes>
			<class
				name="automationTestScripts.Organizations.CreatOrganisationTest" />
			<class
				name="automationTestScripts.Contacts.CreateContactWithOrganizationTest" />
			<class
				name="automationTestScripts.Organizations.CreateAndDeleteOrganizationTest" />
			<class
				name="automationTestScripts.Contacts.CreateContactAndDeleteWithOrgTest" />
		</classes>
	</test>
</suite>
